<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Styles/Master.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
        Online Mobile Shop
        @Html.ActionLink("SignUp", "SignUp", "Account", null, new { @class = "Link" })

        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Logout", "LogOff", "Account", null, new { @class = "Link" })
        }
        else
        {
            @Html.ActionLink("LogIn", "Login", "Account", null, new { @class = "Link" })
        }

        @if (HttpContext.Current.User.IsInRole("Admin"))
        {
            @Html.ActionLink("View Mobile", "MobileDetails", "Mobile", null, new { @class = "Link" })
            @Html.ActionLink("AddBrand", "AddBrand", "Mobile", null, new { @class = "Link" })
            @Html.ActionLink("Add Mobile", "Create", "Mobile", null, new { @class = "Link" })
            @Html.ActionLink("ViewBrand", "ViewBrand", "Mobile", null, new { @class = "Link" })

        }
        @if (HttpContext.Current.User.IsInRole("User"))
        {
            @Html.ActionLink("Index", "Index", "Account", null, new { @class = "Link" })
            @Html.ActionLink("ViewBrand", "ViewBrand", "User", null, new { @class = "Link" })
        }

    </div>
    <hr />

    <div>
        @RenderBody()
    </div>
</body>
